<div class="donation">
  <div class="container">
    <h3 class="tittle">Donation Page</h3>
    <div class="donation-content">
      <div class="donation-header">
        <h3 class="d-tittle">Donation Form</h3>
      </div>
      <div class="donation-body">
        <div class="form-group pricing">
          <h6 class="modal-subtitle">How much would  you like to donate?</h6>
          <div class="btn-group">
            <button type="button" class="active">$10</button>
            <button type="button" class="">$20</button>
            <button type="button" class="">$100</button>
            <button type="button" class="">$200</button>
            <button type="button" class="">$500</button>
            <input type="text" placeholder="Other Amount">
          </div>
        </div>
        <div class="form-group">
          <h6 class="modal-subtitle">Personal Information</h6>
          <div class="dt-inner">
            <div class="dt">
              <input type="text" id="name" placeholder="First Name">
              <input type="text" id="name" placeholder="Last Name">
              <div class="clearfix"> </div>
            </div>
            <div class="dt">
              <input type="text" id="email" placeholder="Email">
              <input type="text" id="name" placeholder="Phone">
              <div class="clearfix"> </div>
            </div>
            <div class="dt">
              <textarea id="message" placeholder="Address"></textarea>
              <textarea id="additional" placeholder="Additional Note"></textarea>
              <div class="clearfix"> </div>
            </div>
            <div class="donate">
              <input type="submit" value="Donate Now">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
