<div class="donation">
  <div class="container">
    <h3 class="tittle">Login Page</h3>
    <div class="donation-content">
      <div class="donation-header">
        <h3 class="d-tittle">Login Form</h3>
      </div>
      <div class="donation-body">
        <div class="form-group">
          <div class="dt-inner">
            <p class="your-para">Your username:</p>
            <div class="dt">
              <input [(ngModel)]="user.username" id="username"
                     type="username" class="validate" class="form-control">
              <div class="clearfix"></div>
            </div>
            <label for="username"></label>

            <p class="your-para">Your password:</p>
            <div class="dt">
              <input [(ngModel)]="user.password" id="password" style="alignment: center"
                     type="password" class="validate" class="form-control" style="margin-bottom: 0.5cm">
              <div class="clearfix"></div>
            </div>

            <span>{{errorMsg}}</span>

            <div class="donate">
              <input type="submit" (click)="login()" value="Login" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
