<div class="contact">
  <div class="container">
    <h3 class="tittle">Contact Us</h3>
    <div class="contact-form">
      <div class="col-md-6 contact-grid">
        <form (ngSubmit)="onSubmit()">
          <p class="your-para">Your mail:</p>
          <input [(ngModel)]="model.to" name="to" #to="ngModel" class="form-control" id="to" type="text" value=""
                 required onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">

          <div *ngIf="to.errors && (to.dirty || to.touched)"
               class="alert alert-danger">
            <div [hidden]="!to.errors.required">
              Email is required
            </div>
          </div>

          <p class="your-para">Your message:</p>
          <textarea [(ngModel)]="model.message" name="message" #message="ngModel" class="form-control" id="message"
                    type="text" value="" required onfocus="this.value='';"
                    onblur="if (this.value == '') {this.value = '';}"></textarea>

          <div *ngIf="message.errors && (message.dirty || message.touched)"
               class="alert alert-danger">
            <div [hidden]="!message.errors.required">
              Message is required
            </div>
          </div>

          <div class="send">
            <input type="submit" value="Send">
          </div>
        </form>
      </div>
      <div class="col-md-6 contact-in">
        <p class="sed-para"> Charity Foundation of ETF</p>
        <p class="para1">Charity Foundation of ETF is an independent, neutral organization ensuring humanitarian protection and
          assistance for victims of armed conflict and other situations of violence. It takes action in response to
          emergencies and at the same time promotes respect for international humanitarian law and its implementation in
          national law.
        </p>
        <div class="more-address">
          <div class="address-more">
            <p>Charity Foundation of ETF</p>
            <p>71000 Sarajevo, Bosnia and Herzegovina</p>
            <p>Zmaja od Bosne bb </p>
          </div>
          <div class="address-left">
            <p>Tel:1115550001</p>
            <p>Fax:190-4509-494</p>
            <p><a href="mailto:info@example.com">ilvana.brankovic@gmail.com</a></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <h3 class="tittle">Find Us Here</h3>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sen!2sin!4v1415776049771"></iframe>
    </div>
  </div>
</div>
