<div class="gallery">
  <div class="container">
    <h3 class="tittle">Gallery</h3>
    <div class="portfolio-bottom">
      <div class="gallery-one">
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g1.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g1.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g2.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g3.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g3.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g7.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g7.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g5.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g5.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g6.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g6.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g2.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g4.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g4.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="col-md-4 gallery-left">
          <a href="./assets/images/g3.jpg" class=" mask b-link-stripe b-animate-go   swipebox" title="Image Title">
            <img src="./assets/images/g3.jpg" alt="" class="img-responsive zoom-img"/>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
  jQuery(function ($) {
    $(".swipebox").swipebox();
  });
</script>
