<!DOCTYPE HTML>
<html>
<head>
  <title>Generous a Charity Category Flat Bootstarp Resposive Website Template | About :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="Generous Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);
  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <script src="js/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:400italic,600italic,400,300,600,700'
        rel='stylesheet' type='text/css'>
</head>
<body>
<div id="home" class="header">
  <div class="header-top">
    <div class="container">
      <div class="logo">
        <a routerLink="home" routerLinkActive="active"><h1>Genero<span>us</span></h1></a>
      </div>
      <div class="do-button">
        <ul class="f-icons">
          <li><a href="#" class="facebook"> </a></li>
          <li><a href="#" class="gg"> </a></li>
          <li><a href="#" class="twitter"> </a></li>
          <li><a href="#" class="p"> </a></li>
          <li><a routerLink="donation" routerLinkActive="active" class="donate">Donate Now<i class="glyphicon glyphicon-heart"></i></a></li>
          <li><a routerLink="registration" routerLinkActive="active" class="donate">Register Now</a></li>
        </ul>

      </div>
      <div class="clearfix"></div>
      <span class="menu"></span>
      <div class="top-menu">
        <ul class="cl-effect-16">
          <li><a routerLink="home" routerLinkActive="active" data-hover="HOME">Home</a></li>
          <li><a routerLink="about" routerLinkActive="active" data-hover="About">About</a></li>
          <li><a routerLink="gallery" routerLinkActive="active" data-hover="Gallery">Gallery</a></li>
          <li><a routerLink="allPages" routerLinkActive="active" data-hover="News">News</a></li>
          <li><a routerLink="contact" routerLinkActive="active" data-hover="CONTACT">Contact</a></li>
          <li><a routerLink="admin" routerLinkActive="active" data-hover="ADMIN PANEL">Admin Panel</a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <!-- script for menu -->
      <script>
        $(document).ready(function () {
          $("span.menu").click(function () {
            $(".top-menu ul").slideToggle(300);
          });
        });
      </script>
      <!-- script for menu -->
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="banner two">

  </div>
</div>

<router-outlet></router-outlet>

<div class="footer text-center">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-4 footer-text">
        <h3>About Us</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
          industry's.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
          industry's.</p>
      </div>
      <div class="col-md-4 footer-flickr">
        <h3>Flickr Feed</h3>
        <div class="flickr-grids">
          <div class="flickr-grid">
            <a href="#"><img src="./app/images/t1.jpg" alt=""/></a>
          </div>
          <div class="flickr-grid">
            <a href="#"><img src="./app/images/c2.jpg" alt=""/></a>
          </div>
          <div class="flickr-grid">
            <a href="#"><img src="./app/images/c1.jpg" alt=""/></a>
          </div>
          <div class="clearfix"></div>

          <div class="flickr-grid">
            <a href="#"><img src="./app/images/c2.jpg" alt=""/></a>
          </div>
          <div class="flickr-grid">
            <a href="#"><img src="./app/images/c1.jpg" alt=""/></a>
          </div>
          <div class="flickr-grid">
            <a href="#"><img src="./app/images/t1.jpg" alt=""/></a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-4 footer-info">
        <h3>Get In Touch</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's
          standard dummy text ever since, </p>
        <div class="support">
          <form>
            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
            <input type="submit" value="SUBSCRIBE">
          </form>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="copy">
      <p>&copy; 2015 Generous. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
  </div>
</div>
</body>
</html>

