<div class="grid_3 grid_5">
  <div class="bs-example" role="tabpanel" data-example-id="togglable-tabs">
    <tabs id="myTab">
      <tab tabTitle="Users" data-toggle="tab">
        <div class="bs-docs-example">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>Password</th>
              <th>Role</th>
              <th>Enabled</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.password}}</td>
              <td>{{user.role}}</td>
              <td>{{user.enabled}}</td>
              <td>{{user.telephone}}</td>
              <td>{{user.email}}</td>
              <td>
                <button class="btn btn-danger" (click)="removeUser(user.id)"><span
                  class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
              </td>
            </tr>
            </tbody>
          </table>

          <div>
            <button type="button" class="btn btn-info" style="float: right;" data-toggle="modal" data-target="#myModal">
              Add new user
            </button>
          </div>

          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add user</h4>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="addUser()">
                    <h6 class="modal-subtitle">Personal Information</h6>
                    <p></p>
                    <p class="your-para">Your username:</p>
                    <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username"
                           placeholder="Username">
                    <p></p>
                    <div class="clearfix"></div>
                    <p class="your-para">Your password:</p>
                    <input type="text" class="form-control" id="password" [(ngModel)]="model.password" name="username"
                           placeholder="Password">
                    <div class="clearfix"></div>
                    <p class="your-para">Your mail:</p>
                    <input type="text" class="form-control" id="email" [(ngModel)]="model.email" name="email"
                           placeholder="Email">
                    <div class="clearfix"></div>
                    <p class="your-para">Your telephone:</p>
                    <input type="text" class="form-control" id="telephone" [(ngModel)]="model.telephone"
                           name="telephone" placeholder="Phone">
                    <div class="clearfix"></div>
                    <p class="your-para">Your address:</p>
                    <textarea id="message" class="form-control" [(ngModel)]="model.address" name="address"
                              placeholder="Address"></textarea>
                    <div class="clearfix"></div>
                    <div class="donate">
                      <input type="submit" style="float: right" value="Add user">
                    </div>
                  </form>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <tab tabTitle="Annoucements" data-toggle="tab">
        <div class="bs-docs-example">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Text</th>
              <th>Date</th>
              <th>Telephone</th>
              <th>Account</th>
              <th>Picture</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let announcement of announcements">
              <td>{{announcement.id}}</td>
              <td>{{announcement.text}}</td>
              <td>{{announcement.date}}</td>
              <td>{{announcement.telephone}}</td>
              <td>{{announcement.account}}</td>
              <td>{{announcement.picture}}</td>
              <td>
                <button class="btn btn-danger" (click)="removeAnnouncement(announcement.id)"><span
                  class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
          <div>
            <button type="button" class="btn btn-info" style="float: right;" data-toggle="modal" data-target="#announcementModal">
              Add new announcement
            </button>
          </div>
          <!-- Modal -->
          <div id="announcementModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add announcement</h4>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="addAnnouncement()">
                    <h6 class="modal-subtitle">Personal Information</h6>
                    <p></p>
                    <p class="your-para">Text:</p>
                    <input type="text" class="form-control" id="text" [(ngModel)]="modelAnnoucement.text" name="text"
                           placeholder="Text">
                    <p></p>
                    <div class="clearfix"></div>
                    <p class="your-para">Date:</p>
                    <input type="text" class="form-control" id="date" [(ngModel)]="modelAnnoucement.date" name="date"
                           placeholder="Date">
                    <div class="clearfix"></div>
                    <p class="your-para">Telephone:</p>
                    <input type="text" class="form-control" id="telephone" [(ngModel)]="modelAnnoucement.telephone"
                           name="telephone" placeholder="Phone">
                    <div class="clearfix"></div>
                    <p class="your-para">Account:</p>
                    <input type="text" class="form-control" id="account" [(ngModel)]="modelAnnoucement.account"
                           name="account" placeholder="Account">
                    <div class="clearfix"></div>
                    <div class="donate">
                      <input type="submit" style="float: right" value="Add announcement">
                    </div>
                  </form>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </tab>

      <tab tabTitle="Comments" data-toggle="tab">
        <div class="bs-docs-example">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Text</th>
              <th>Date</th>
              <th>User</th>
              <th>Announcement</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments">
              <td>{{comment.id}}</td>
              <td>{{comment.text}}</td>
              <td>{{comment.date}}</td>
              <td>{{comment.user}}</td>
              <td>{{comment.announcement}}</td>
              <td>
                <button class="btn btn-danger" (click)="removeComment(comment.id)"><span
                  class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabs>
  </div>
</div>
