<div class="news two">
  <div class="container">
    <h3 class="tittle">Blogs</h3>
    <div class="news-article">
      <div *ngFor="let announcement of announcements" class="col-md-6 article-post">
        <a routerLink="single" routerLinkActive="active" ><img src="./app/images/n1.jpg" alt="img07"/></a>
        <div class="col-md-3 post-meta">
          <div class="meta-icon">
            <div class="pic">
              <a routerLink="singlePage" routerLinkActive="active" > <i class="glyphicon glyphicon-picture"></i></a>
            </div>
          </div>
          <ul class="ad-info">
            <li>{{announcement.date}}</li>
            <li> <a href="#">John Doe</a></li>
            <li> <a href="#">24 Comments</a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-9 post-details">
          <a routerLink="singlePage" routerLinkActive="active"><h3>To Protect Humanity</h3></a>
          <p>{{announcement.text}}</p>
          <div>
            <a class="blog hvr-shutter-out-horizontal"routerLink="singlePage" routerLinkActive="active" role="button">Read More</a>
          </div>
        </div>
        <!--post-details-->
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
      <!--start-blog-pagenate-->
      <div class="blog-pagenat">
        <ul>
          <li><a class="frist" href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a class="last" href="#">Next</a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <!--//End-blog-pagenate-->

    </div>
  </div>
</div>
