<div class="news two">
  <div class="container">
    <h3 class="tittle">News</h3>
    <div class="news-article">
      <div *ngFor="let announcement of pagedItems" class="col-md-6 article-post">
        <a [routerLink]="['/singlePage', {id: announcement.id}]"><img src="./assets/images/n1.jpg" alt="img07"/></a>
        <div class="col-md-3 post-meta">
          <div class="meta-icon">
            <div class="pic">
              <a [routerLink]="['/singlePage', {id: announcement.id}]"> <i class="glyphicon glyphicon-picture"></i></a>
            </div>
          </div>
          <ul class="ad-info">
            <li>{{announcement.date}}</li>
            <li> <a href="#">John Doe</a></li>
            <li> <a href="#">{{announcement.comments.length}} Comments</a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-9 post-details">
          <a [routerLink]="['/singlePage', {id: announcement.id}]"><h3>To Protect Humanity</h3></a>
          <p>{{announcement.text}}</p>
          <div>
            <a class="blog hvr-shutter-out-horizontal" [routerLink]="['/singlePage', {id: announcement.id}]" role="button">Read More</a>
          </div>
        </div>
        <!--post-details-->
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
      <!--start-blog-pagenate-->
      <div class="blog-pagenat">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
      <!--//End-blog-pagenate-->

    </div>
  </div>
</div>
