<div class="news two">
  <div class="container">
    <div class="news-article">
      <div class="article-post" *ngIf="announcement">
        <a href="#"><img src="./assets/images/single.jpg" alt="img07"/></a>
        <div class="col-md-3 post-meta">
          <div class="meta-icon">
            <div class="pic">
              <a href="#"> <i class="glyphicon glyphicon-picture"></i></a>
            </div>
          </div>
          <ul class="ad-info">
            <li>21 Aug'15</li>
            <li><a href="#">{{announcement.comments.length}} Comments</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-9 post-details">
          <a href="#"><h3>{{announcement.title}}</h3></a>
          <p>{{announcement.text}}</p>
        </div>
        <!--post-details-->
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="single">
      <div class="leave">
        <h4>Leave a comment</h4>
      </div>
      <form id="commentform" (ngSubmit)="addComment()">
        <p class="comment-form-comment">
          <label class="comment">Comment</label>
          <textarea id="text" name="text" [(ngModel)]="model.text" required #text="ngModel"
                    class="form-control"></textarea>
        </p>
        <div *ngIf="text.errors && (text.dirty || text.touched)" class="alert alert-danger">
          <div [hidden]="!text.errors.required">
            Text is required!
          </div>
        </div>

        <div class="clearfix"></div>
        <p class="form-submit">
          <input name="submit" type="submit" id="submit" value="Send">
        </p>
        <div class="clearfix"></div>
      </form>
      <div class="single_grid2" *ngIf="announcement">
        <h4 class="tz-title-4 tzcolor-blue">
          Comments
        </h4>
        <ul class="list" *ngFor="let comment of announcement.comments">
          <li>
            <div class="col-md-2 preview"><a href="#"><img src="./assets/images/co.png" class="img-responsive"
                                                           alt=""></a></div>
            <div class="col-md-10 data">
              <div class="title"><a href="#">donator</a><br><span class="m_14">{{comment.date | date}}</span></div>
              <div style="width: 400px">
              <p >{{comment.text}}</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
